---
layout: page
# The Archives of posts.
---

<h1>Education</h1>

<div id="CV" class="pl-xl-2"> 
  <ul class="list-unstyled">
      <li>
        <div>
          <span>2021 - 2024</span>
          <a>Doctorate</a>
        </div>
      </li>
      <li>
        <div>
          <span>2016 - 2020</span>
          <a>Engineering School</a>
        </div>
      </li>
      <li>
        <div>
          <span>2014 - 2016</span>
          <a>Preparatory classes</a>
        </div>
      </li>
    </ul>
</div>