---
layout: page
# The Home page layout
---

<div id="home-about">

    <p>Hello dear reader, welcome to my personal page! 🌻</p>

    <p>My name is Hélène Tran, and I am currently a first year Ph.D candidate in Automatic Emotion Recognition, attached to LIMOS computer science
    laboratory and to Jeolis Solutions digital services company.</p>
    
    <p>I keep being in search of new and exciting challenges to gain professional and personal experiences: this is my secret key to feeling
    fulfilled in my life. Humanitarian trip, tutoring, study abroad, now doing a 3-year research in two fields that I love (Artificial Intelligence and Psychology),
    and many more experiences to come! </p>

    <p>Moreover, I aim to dedicate my life in improving others' life through my professional career and my positivity. I have a great interest in 
    psychology, and more specifically in emotional intelligence. I cultivate my openness of mind by nourishing my thoughts through social interactions 
    and readings. I have travelled in many countries, including Nepal (humanitarian trip) and Australia (one and a half year study). </p>
    
    <p>This website is intended to share my knowledge and my experiences with you. I hope you will enjoy navigating in it! </p>
    
    <p>Enjoy your visit and have a great day! ☀️</p>


</div>
    
<div id="home-background">

    <h3>Background</h3>
    
    <p>Strong background in mathematics, programming and artificial intelligence techniques.</p>

</div>
