---
layout: page
# The Home page layout
---

<div id="about">

    <p>Hello dear reader, welcome to my personal page! 🌻</p>

    <p>My name is Hélène Tran, and I am currently a Ph.D candidate in Automatic Emotion Recognition, attached to LIMOS computer science
    laboratory and to Jeolis Solutions digital services company.</p>
    <p>I keep being in search of new and exciting challenges to gain professional and personal experiences: this is my secret key to feeling
    fulfilled in my life. <br>
    Moreover, I aim to dedicate my life in improving others' life through my professional career and my positivity. I have a great interest in 
    psychology, and more specifically emotional intelligence. I nourish my knowledge through social interactions as well as readings. </p>
    
    <p>This website is intended to share my knowledge and my experiences with you. I hope you will enjoy navigating in it! </p>
    
    <p>Enjoy your visit and have a great day! ☀️</p>


</div>
    
<div id="background">

    <h3>Background</h3>
    
    <p>Strong background in mathematics, programming and artificial intelligence techniques.</p>

</div>
