/*
  Style for CV
*/

%date-timeline-CV {  /* Vertical bar timeline */
  content: "";
  width: 4px;
  left: 181px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: var(--timeline-color);
}

#CV {
  letter-spacing: 0.03rem;

  ul {
    li {
      font-size: 1.1rem;
      line-height: 3rem;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
          // font-size: 1.1rem;
          position: relative;
          left: 8px;
        }

        a, p {
          /* Education title */
          margin-left: 4.2rem;
          position: relative;
        }
      }

      &:nth-child(odd) {
        background-color: var(--main-wrapper-bg, #fff);
        background-image: linear-gradient(to left, #fff, #fbfbfb, #fbfbfb, #fbfbfb, #fff);
      }

      &::before {
        @extend %date-timeline-CV;

        height: 3.8rem;
        top: 1.3rem;
      }

      &:last-child::before {

        height: 0.1rem;
        top: 1.4rem;
      }

    }

  } // #CV ul

  .date {
    white-space: nowrap;
    display: inline-block;

    &::after { /* Year dot */
      content: "";
      display: block;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: -29px;
      left: 165px;
      border: 3px solid;
      background-color: var(--timeline-year-dot-color);
      border-color: var(--timeline-node-bg);
      box-shadow: 0 0 2px 0 #c2c6cc;
      z-index: 1;
    }
  }

  .educ-location{
    white-space: nowrap;
    display: inline-block;
    // text-align: right;  // For right-align
    // position: absolute;
    // right: 50px;
  }

} // #CV

@media all and (max-width: 576px) {
  #CV {
    margin-top: -1rem;
    ul {
      letter-spacing: 0;
    }
  }
}
